{{ header }}

<section id="categories">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            {{ search }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <img class="img-responsive" src="catalog/view/theme/herbicat/image/produtos.jpg"/>
            </div>
        </div>
        <div class="col-sm-8 categories-table">
            <div class="row categories-row">
                {% for row in categories_top %}
                    <a class="categories-cell" href="{{ row.href }}">
                        <div class="col-sm-4 categories" style="background:url({{ storage ~ row.image }}) no-repeat; background-size: cover;">
                            <h3>{{ row.name }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container">
       
        <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li>
                <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            </li>
        {% endfor %}
    </ul>
        <div class="row">
            {% for product in products %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="image">
                        <div class="mask">
                            <a class="cart" href="javascript:;" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                                <img class="img-responsive" src="catalog/view/theme/herbicat/image/cart.png"/>
                            </a>
                            <a href="{{ product.href }}" class="view">
                                <img class="img-responsive" src="catalog/view/theme/herbicat/image/view.png"/>
                            </a>
                        </div>
                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                    </div>
                    <div class="caption">
                        <div class="info">
                            <a href="{{ product.href }}">{{ product.name }}</a>
                        </div>
                        <div class="info">
                            <span>CÓD. PROD.:</span>
                            <a href="{{ product.href }}">{{ product.sku }}</a>
                        </div>
                        <div class="info">
                            <span>FABRICANTE:</span>
                            <a href="{{ product.href }}">{{ product.manufacturer }}</a>
                        </div>
                        {% if product.price %}
                            <p class="price">
                                {% set price_split = product.price|split(',') %}
                                {% set price_split_currency = price_split[0]|split('R$') %}
                                <span class="price-currency">R$</span>
                                <span class="price-large">{{ price_split_currency[1]|trim }},</span>
                                <span class="price-thin">{{ price_split[1] }}</span>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
    </section>

    {{ footer }}
