{{ header }}
<div class="container" id="product-search">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li>
                <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h1>{{ heading_title }}</h1>
            <label class="control-label" for="input-search">{{ entry_search }}</label>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control"/>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="category_id">
                        <option value="0">{{ text_category }}</option>
                        {% for category_1 in categories %}
                            {% if category_1.category_id == category_id %}
                                <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
                            {% else %}
                                <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
                            {% endif %}
                            {% for category_2 in category_1.children %}
                                {% if category_2.category_id == category_id %}
                                    <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                                {% else %}
                                    <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                                {% endif %}
                                {% for category_3 in category_2.children %}
                                    {% if category_3.category_id == category_id %}
                                        <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                                    {% else %}
                                        <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3">
                    <label class="checkbox-inline">
                        {% if sub_category %}
                            <input checked="checked" name="sub_category" type="checkbox" value="1"/>
                        {% else %}
                            <input name="sub_category" type="checkbox" value="1"/>
                        {% endif %}
                        {{ text_sub_category }}</label>
                </div>
            </div>
            <p>
                <label class="checkbox-inline">
                    {% if description %}
                        <input checked="checked" id="description" name="description" type="checkbox" value="1"/>
                    {% else %}
                        <input id="description" name="description" type="checkbox" value="1"/>
                    {% endif %}
                    {{ entry_description }}</label>
            </p>
            <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary"/>
            <h2>{{ text_search }}</h2>
            {% if products %}
                <div class="row">
                    {# <div class="col-md-2 col-sm-6 hidden-xs">
                        <div class="btn-group btn-group-sm">
                            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}">
                                <i class="fa fa-th-list"></i>
                            </button>
                            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}">
                                <i class="fa fa-th"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>
                        </div>
                    </div> #}
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                            <select class="form-control" id="input-sort" onchange="location = this.value;">
                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                    {% else %}
                                        <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                            <select class="form-control" id="input-limit" onchange="location = this.value;">
                                {% for limits in limits %}
                                    {% if limits.value == limit %}
                                        <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                    {% else %}
                                        <option value="{{ limits.href }}">{{ limits.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="image">
                                <div class="mask">
                                    <a class="cart" href="javascript:;" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                                        <img class="img-responsive" src="catalog/view/theme/herbicat/image/cart.png"/>
                                    </a>
                                    <a href="{{ product.href }}" class="view">
                                        <img class="img-responsive" src="catalog/view/theme/herbicat/image/view.png"/>
                                    </a>
                                </div>
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                            </div>
                            <div class="caption">
                                <div class="info">
                                    
                                    <a href="{{ product.href }}">{{ product.name }}</a>
                                </div>
                                <div class="info">
                                    <span>CÓD. PROD.:</span>
                                    <a href="{{ product.href }}">{{ product.sku }}</a>
                                </div>
                                <div class="info">
                                    <span>FABRICANTE:</span>
                                    <a href="{{ product.href }}">{{ product.manufacturer }}</a>
                                </div>
                                {% if product.price %}
                                    <p class="price">
                                        {% set price_split = product.price|split(',') %}
                                        {% set price_split_currency = price_split[0]|split('R$') %}
                                        <span class="price-currency">R$</span>
                                        <span class="price-large">{{ price_split_currency[1]|trim }},</span>
                                        <span class="price-thin">{{ price_split[1] }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            {% else %}
                <p>{{ text_empty }}</p>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script
    type="text/javascript">
    <!--
    $('#button-search').bind('click', function () {
        url = 'index.php?route=product/search';

        var search = $('#content input[name=\'search\']').prop('value');

        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }

        var category_id = $('#content select[name=\'category_id\']').prop('value');

        if (category_id > 0) {
            url += '&category_id=' + encodeURIComponent(category_id);
        }

        var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

        if (sub_category) {
            url += '&sub_category=true';
        }

        var filter_description = $('#content input[name=\'description\']:checked').prop('value');

        if (filter_description) {
            url += '&description=true';
        }

        location = url;
    });

    $('#content input[name=\'search\']').bind('keydown', function (e) {
        if (e.keyCode == 13) {
            $('#button-search').trigger('click');
        }
    });

    $('select[name=\'category_id\']').on('change', function () {
        if (this.value == '0') {
            $('input[name=\'sub_category\']').prop('disabled', true);
        } else {
            $('input[name=\'sub_category\']').prop('disabled', false);
        }
    });

    $('select[name=\'category_id\']').trigger('change');
    -->
</script>
{{ footer }}
