body{
    background: #FFFFFF;
}
.main-menu {
    position: relative;
    width: 100%;
    z-index: 9;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.9)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    padding-bottom: 80px;
}
section#empty{
    margin-top: 50px;
}

/*
    Categorias
*/
section#categories {
    margin-bottom: 50px;
}
.col-sm-8.categories-table {
    display: block;
}
a.categories-cell {
    display: block;
    cursor: pointer;
    filter: grayscale(100%);
}
.categories-cell:hover{
    filter: grayscale(0%);
    transition: 0.2s ease-in;
}
a.categories-cell .categories {min-height: 92px;display: block;cursor: pointer;}
a.categories-cell .categories h3 {
    text-align: center;
    top: 15%;
    position: absolute;
    width: 85%;
    color: #1a5f30;
    font-weight: bold;
}


/*
    Products
*/

.image .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #005f2763;
    border-radius: 10px;
    display: none;
}

.image {
    position: relative;
}
.image:hover .mask {
    display: block;
}

.image img{
    border-radius: 10px
}
.image .mask a.cart {
    top: 50%;
    position: absolute;
    margin-top: -36px;
    left: 36%;
    margin-left: -36px;
}
.image .mask a.view {
    top: 50%;
    position: absolute;
    margin-top: -36px;
    left: 66%;
    margin-left: -36px;
}

.caption {
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.2em;
    margin-top: 12px;
    color: #1a5f30;
    margin-bottom: 50px;
}
.caption a{
    color: #1a5f30;
}
.caption .info>span {
    font-size: 10px;
    font-weight: bold;
    color: #444444;
}
.info {
    font-size: 15px;
}
.caption .price {
    border-top: 2px solid #1a5f30;
    border-bottom: 2px solid #1a5f30;
    padding: 20px  10px 12px;
    font-size: 38px;
    line-height: normal;
    margin-top: 10px;
    width: 80%;
}

p.price {
    overflow: hidden;
}
p.price .price-currency {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

p.price span.price-large {
    /*font-size: 40px;*/
    font-size: 36px;
    font-weight: bold;
    margin-top: -5px;

    
    display: block;
    float: left;
}

p.price span.price-thin {
    font-size: 22px;
    display: block;
    float: left;
}

.table-bordered {
    border: 1px solid #005f29 !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #005f29 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #005f29;
    border-color: #005f29;
}
.btn-primary:hover{
    color: #005f29;
    background-color: #b6ca32;
    border-color: #b6ca32;
}

.btn-default {
    color: #fff;
    background-color: #005f29;
    border-color: #005f29;
}
.btn-default:hover{
    color: #005f29;
    background-color: #b6ca32;
    border-color: #b6ca32;
}

.table-bordered a {
    color: #005f29;
}

.table-bordered {
    color: #005f29;
}
.panel-default>.panel-heading {
    color: #FFF;
    background-color: #005f29;
    border-color: #005f29;
}

.well {
    color:#005f29;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background: rgba(165, 203, 2, 0.6);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.well a{
    color:#005f29;
}

a.list-group-item, button.list-group-item {
    color: #FFFFFF;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #005f29;
    border: 1px solid #a8cd1e;
}
section#products {
    margin-bottom: 60px;
}
div#search {
    margin-bottom: 35px;
}
thead tr td {
    font-weight: bold;
}